{
  "printWidth": 80,
  "singleQuote": true,
  "quoteProps": "consistent",
  "arrowParens": "always",
  "plugins": ["prettier-plugin-imports", "prettier-plugin-pkg"],
  "importOrder": ["<BUILTIN_MODULES>", "<THIRD_PARTY_MODULES>", "<TYPES>"],
  "tabWidth": 2,
  "trailingComma": "all",
  "semi": true
}
