{
	"printWidth": 80,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"quoteProps": "consistent",
	"arrowParens": "always",
	"plugins": ["prettier-plugin-imports"],
	"importOrder": ["<BUILTIN_MODULES>", "<THIRD_PARTY_MODULES>", "<TYPES>"],
	"useTabs": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"semi": true
}
